<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/fb7144ca-9e6a-4a1e-88e2-f0c5ff0932c5/resourceGroups/myResourceGroup20/providers/Microsoft.Web/sites/LiftApi20</ResourceId>
    <ResourceGroup>myResourceGroup20</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://liftapi20.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>liftapi20.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>LiftApi20</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$LiftApi20</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="LiftContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:liftapi20dbserver.database.windows.net,1433;Initial Catalog=LiftApi_db;User ID=liftapiadmin@liftapi20dbserver;Password=7T7wvVRfj6" Name="Data Source=tcp:liftapi20dbserver.database.windows.net,1433;Initial Catalog=LiftApi_db;User Id=liftapiadmin@liftapi20dbserver;Password=7T7wvVRfj6" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="LiftApi.Dataaksess.LiftContext, LiftApi" MigrationConfiguration="LiftApi.Migrations.Configuration, LiftApi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="LiftContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:liftapi20dbserver.database.windows.net,1433;Initial Catalog=LiftApi_db;User Id=liftapiadmin@liftapi20dbserver;Password=7T7wvVRfj6</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>